.brand-list li,
.category-list li {
    line-height: 40px;
}

.brand-list li .chk-brand,
.category-list li .chk-category {
    width: 1rem;
    height: 1rem;
    color: #e4e4e4;
    border: 0.125rem solid CurrentColor;
    border-radius: 0;
    margin-right: 0.75rem;
}

.filled-heart {
    color: #ff6f61;
}
